<% if (locals.store) { %>
    <p>Mock Election Results: votes cast</p>
    <ul>
        <% for (var candidate in store.electionResults) { %>
            <li><%= candidate %> : <%= store.electionResults[candidate] %></li>
        <% } %>
    </ul>
<% } %>